---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ .Values.namespace }}
  name: "{{ .Values.appName }}-{{ .Values.global.env  }}-ingress"
  annotations:
    alb.ingress.kubernetes.io/load-balancer-name: {{ .Values.LBname  }}
    ingressclass.kubernetes.io/is-default-class: "true"
    alb.ingress.kubernetes.io/tags: Environment={{ .Values.global.env  }}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443}]'
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: instance
    alb.ingress.kubernetes.io/subnets: {{ .Values.subnet }}
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
    alb.ingress.kubernetes.io/success-codes: '200'
    alb.ingress.kubernetes.io/healthcheck-path: {{ .Values.healthPath }}
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: '30'
    alb.ingress.kubernetes.io/healthcheck-timeout-seconds: '10'
    alb.ingress.kubernetes.io/healthy-threshold-count: '2'
    alb.ingress.kubernetes.io/unhealthy-threshold-count: '2'
    alb.ingress.kubernetes.io/group.name: {{ .Values.global.env  }}
#Change group name as per requirement

spec:
  ingressClassName: "{{ .Values.global.ingressclass  }}-ingress-class"
  tls:
    - hosts:
        - "{{ .Values.hosts }}"
  rules:
    - host: {{ .Values.dnsname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ .Values.appName }}-service"
                port:
                  number: {{ .Values.serviceport }}