on:
  push:
    branches:
      - develop
    
env:
  AWS_Region: ap-south-1


jobs:
  compile-test-build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    steps:
    - name: Sets env vars for Dev
      run: |
          echo "Container_Registry_NAME=887417737466.dkr.ecr.ap-south-1.amazonaws.com/wee-api-develop" >> $GITHUB_ENV
          echo "AWS_Account=887417737466" >> $GITHUB_ENV
          echo "Region=ap-south-1"  >> $GITHUB_ENV
          echo "ClusterName=Staging-EKS-Onecode" >> $GITHUB_ENV
          echo "NameSpace=develop" >> $GITHUB_ENV
          echo "ValuesFile=values.develop.yaml" >> $GITHUB_ENV
          echo "AppName=wee-api" >> $GITHUB_ENV
           
         
    -   name: Configure AWS Credentials for Staging
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "${{ env.Region }}"
           
    - name: Checkout
      uses: actions/checkout@v3
    
      
    - name: Set up Java env
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'adopt'
        cache: gradle


    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
         gradle-version: 6.0.1
         
   
    - name: Execute Gradle wrapper
      run: gradle wrapper
      
    - name: Execute Gradle build
      run:  ./gradlew build
              
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        registry: ${{ env.Container_Registry_NAME }}
   
       
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v3
      with:
        context: ./
          # Dockerfile file location
        file: ./Dockerfile
          # Supported image architectures, since I need an aarch64 image, so I added arm64 here
        platforms: linux/arm64
        push: true
        tags: ${{ env.Container_Registry_NAME }}:latest
        

    - name: Create kube config
      run: |
              aws eks update-kubeconfig --region "${{ env.Region }}" --name "${{ env.ClusterName }}"
              
      
    - name: Helm Deploy
      run: |
             aws eks update-kubeconfig --region "${{ env.Region }}" --name "${{ env.ClusterName }}"
             helm upgrade --install "${{ env.AppName }}" ./deployment-files/helm/  -f ./deployment-files/helm/"${{ env.ValuesFile }}" -n "${{ env.NameSpace }}" --set image.repository=${{ env.Container_Registry_NAME }} --set region="${{ env.Region }}" --debug 
             
             rm ~/.kube/config
